html, body {
  font-family: 'Roboto', sans-serif;
}

header {
  display: flex;
  background-color: teal;
  width: 100%;
  height: 50px;
  color: white;
}
#headerButtons {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
.navButton {
  display: flex;
  float: right;
}
footer {
  display: block;
  width: 100%;
  height: 50px;
  background-color: grey;
  color: white;
}